<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link href="/CSS/styles.css" rel="stylesheet">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

<!-- To include this code in multiple files use EJS property by using the name of the file and the following code

<%-include header.ejs%> -->
